.card {
  background-color: #FBAB7E;
  width: 60vw;
  height: 40vh;
  margin: auto;
  padding: 2em;

  border-radius: 60px;
}

.timer-description {
  padding: 2em 0;
  color: #FFFFFF;
}

.timer-description-sets{
  margin-top: 2em;
  color: rgba(255,255,255,.8);
  display: flex;
  justify-content: space-between;
}
