<div class="footer">
  <div class="bubble-wrapper">
    <div *ngFor="let timer of program.timers; let i = index"
         class="timer-bubble"
         [ngClass]="{'break': timer.type === 0, 'active': selected === timer}"
         [routerLink]="['/timer-edit', program.id, i]"
         appHold
         (hold)="onHold(i)">
      <span>{{ timer.time }}s</span>
    </div>
    <div class="timer-bubble add">
      <span [routerLink]="['/timer-edit', program.id, 'add']">Add</span>
    </div>
  </div>
</div>
