.main-container {
  background-color: #FBAB7E;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;
}

.desciption-next {
  margin: auto;
  color: #FFFFFF;
}

.timer {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 4em;
  margin: auto;
}

.play-button {
  margin-bottom: 10vh;
}

.clock-container {
  position: absolute;
  width: 250%;
  left: -75%;
  top: 25%;
  pointer-events: none;

 &.animate {
    animation: rotate 1s linear infinite;
  }
}


@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(30deg);
  }
}
