<div class="main-container" *ngIf="program">

  <app-end-slider (onEnd)="handleOnEnd()"></app-end-slider>

  <div class="desciption-next">
    <span *ngIf="activeIndex < this.program.timers.length - 1">Next: {{ timerTypeToString(this.program.timers[activeIndex+1].type) }} {{ this.program.timers[activeIndex+1].time }}s</span>
    <span *ngIf="activeIndex === this.program.timers.length - 1" >Last Set</span>
    <span *ngIf="activeIndex === this.program.timers.length">Done</span>
  </div>
  <div class="timer">
    <span>{{displayTime}}s</span>
  </div>

  <app-play-button class="play-button" (click)="onTimerStart()" [isPlaying]="!running"></app-play-button>
</div>
