<div class="main-container" *ngIf="program">
  <div class="end-timer">
    <span [routerLink]="['/']">End Session</span>
  </div>
  <div class="desciption-next">
    <span *ngIf="activeIndex < this.program.timers.length - 1">Next: {{ timerTypeToString(this.program.timers[activeIndex+1].type) }} {{ this.program.timers[activeIndex+1].time }}s</span>
    <span *ngIf="activeIndex === this.program.timers.length - 1" >Last Set</span>
    <span *ngIf="activeIndex === this.program.timers.length">Done</span>
  </div>
  <div class="timer">
    <span>{{remainingTime}}s</span>
  </div>
  <div>
  <app-play-button (click)="onTimerStart()" [isPlaying]="!running"></app-play-button>
</div>
</div>
