<div class="main-container" *ngIf="program">

  <div class="content">
    <h1>Edit Timer</h1>
    <div class="card" >
      <form class="form" (ngSubmit)="onSubmit()">
        <div class="row-name-input">
          <input id="input_name" [(ngModel)]="program.name" name="name" class="name-input">
          <label for="input_name">
            <fa-icon [icon]="faPencil"></fa-icon>
          </label>
        </div>

        <app-time-input [(time)]="program.timers[selectedTimer].time"></app-time-input>


        <app-training-type-radio-group [(activeType)]="program.timers[selectedTimer].type"></app-training-type-radio-group>

        <button class="ok-button">Ok</button>
      </form>

    </div>
  </div>

  <app-footer [program]="program" [selected]="program.timers[selectedTimer]"></app-footer>
</div>

